* {
	 margin: 0;
	 padding: 0;
}

body {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-weight: 100;
	text-transform: uppercase;
	color: #f3f3f3;
	height: 100vh;
	
}

#main {
	position: absolute;
	bottom: 20vh;
	left: 0;
	width: 100vw;
	z-index: 50;
	background: none;

	display: flex;
	justify-content: center;
}

#disp {
	flex-grow: 0;
	position: relative;
	text-align: center;
	font-size: 15px;
	padding: 8px 24px;
	border: solid 2px #f3f3f3;
}

#disp.minimal {
	border: none;
}

#lvl {
	font-family: "Renner Light";
}

#desc, #spacer {
	font-family: "Renner";
	padding: 0 2px;
}

@font-face {
	font-family: "Renner Light";
	src: url("RennerLight.otf");
}

@font-face {
	font-family: "Renner";
	src: url("RennerMed.otf");
}