Package: com.junesiphone.xeninfo
Name: XenInfo
Depends: mobilesubstrate, firmware (>= 9.0)
Architecture: iphoneos-arm
Description: Music, Weather, and battery info for XenHTML
Maintainer: Junes <junesgraphics@gmail.com>
Author: JunesIphone & Matchstic <junesgraphics@gmail.com>
Section: Addons (Tweaks)
Depiction: https://fiercedeity-productions.github.io/repo/package?xeninfo
Version: 2.0.6
Installed-Size: 564
